@if (AppState.UploadedFiles.Count > 0)
{
    <div class="h-full w-full p-5 max-sm:p-4 flex flex-col justify-center items-center gap-5 max-sm:gap-4">
        <div class="h-[55%] pb-5 max-sm:pb-4 w-full flex flex-col gap-3 max-2xl:gap-2 max-sm:gap-2 overflow-y-auto">
            @foreach (UploadedFile file in AppState.UploadedFiles)
            {
                <div @key="@file.Id" class="table-row py-3 max-2xl:py-3 max-sm:py-2 px-[4%] max-2xl:px-[3%] max-sm:px-[6%] rounded-2xl shadow-md dark:shadow-lg bg-zinc-400 dark:bg-zinc-700">
                    <div class="flex items-center">
                        <div class="table-cell w-[7%] max-sm:w-[10%] text-left">
                            <i class="text-[1.4rem] max-2xl:text-[1.2rem] max-sm:text-[1rem] drop-shadow-md dark:drop-shadow-lg @FileIconParser.GetFileIconStyle(file.FileExtension)"></i>
                        </div>
                        <div class="table-cell w-[77%] max-sm:w-[72%] text-left font-mono">
                            <p class="text-[1.2rem] max-2xl:text-[1.08rem] max-sm:text-[0.9rem]">@file.FileName</p>
                            <p class="text-[0.95rem] max-2xl:text-[0.9rem] max-sm:text-[0.75rem]">@file.FileSize • @file.FileExtension</p>
                        </div>
                        <div class="table-cell w-[16%] max-sm:w-[18%] text-right">
                            <i 
                                class="text-[1.4rem] max-2xl:text-[1.2rem] max-sm:text-[1rem] cursor-pointer hover:text-[#26272A] dark:hover:text-white drop-shadow-md dark:drop-shadow-lg fa-solid fa-trash-can"
                                title="Delete File"
                                @onclick="@(() => DeleteFile(file))"
                            >
                            </i>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="h-[45%] w-full flex flex-col justify-end items-center gap-5 max-sm:gap-4">
            @if (AppState.UploadedFiles.Count > 1)
            {
                <div class="h-full w-full flex flex-col justify-center items-center gap-2 max-sm:gap-1">
                    <p class="text-[1.3rem] max-2xl:text-[1.1rem] max-sm:text-[0.95rem]">Filename of combined ZIP file:</p>
                    <input
                        class="p-1 text-[1.3rem] max-2xl:text-[1.1rem] max-sm:text-[0.95rem] bg-[#F2F3F5] dark:bg-[#181818] text-[#404756] dark:text-[#ffffffa6] border border-[#AEAEAE] rounded-full font-mono w-[80%] max-sm:w-[90%] text-center focus:outline-none shadow-md dark:shadow-lg tracking-wider"
                        type="text" 
                        placeholder="Enter Filename..." 
                        @bind="@AppState.FinalZipFileName"
                        @bind:event="oninput"
                    />
                </div>
            }
            <div class="h-full w-full flex flex-col justify-end items-center gap-2 max-sm:gap-1">
                <button 
                    class="text-[1.3rem] max-2xl:text-[1.3rem] max-sm:text-[1.1rem] rounded-2xl shadow-md dark:shadow-lg bg-green-700 dark:bg-green-900 hover:bg-green-900 dark:hover:bg-green-950 disabled:bg-zinc-400 dark:disabled:bg-zinc-900 hover:ring hover:ring-green-500 dark:hover:ring-green-700 disabled:ring-transparent dark:disabled:ring-transparent text-gray-200 disabled:text-zinc-300 dark:disabled:text-zinc-600 px-6 max-sm:px-5 py-4 max-2xl:py-3 max-sm:py-3"
                    disabled="@(AppState.UploadedFiles.Count > 1 && AppState.FinalZipFileName.Equals(""))"
                    @onclick="@InitializeDriveUpload"
                >
                    <i class="mr-2 fa-solid fa-share-from-square"></i>Upload & Share
                </button>
                <div 
                    class="text-[2.4rem] max-2xl:text-[2.2rem] max-sm:text-[1.8rem] cursor-pointer hover:text-[#26272A] dark:hover:text-white drop-shadow-md dark:drop-shadow-lg"
                    title="Start from scratch"
                >
                    <i class="fa-solid fa-arrows-rotate" @onclick="@ReUploadFiles"></i>
                </div>
            </div>
        </div>
    </div>
}
else 
{
    <ErrorContainer 
        ErrorText="All files have been deleted, you have to upload again" 
        ErrorAction="@ReUploadFiles" 
        ErrorButtonText="Upload Again" 
    />
}

@code {
    [Parameter] public Action UpdateAppMainState { get; init; } = () => { };

    private void DeleteFile(UploadedFile uploadedFile)
    {
        AppState.UploadedFiles.Remove(uploadedFile);
    }

    private void ReUploadFiles()
    {
        AppState.UploadedFiles.Clear();
        AppState.IsUploadComplete = false;
        UpdateAppMainState();
    }

    private void InitializeDriveUpload()
    {
        AppState.IsDriveUploadInitiated = true;
        UpdateAppMainState();
    }
}